[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "==2.4.0"
kaggle = "*"
sklearn = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jinja2 = "*"
xgboost = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"
